:root {
    --primary-color: #506DAA;
    --text-primary-color: #ffffff;
    --primary-light-color: #EDF0F7;
    --secondary-color: #C7C7C7;
    --border-color: #ECECEC;
    --input-color: #ECECEC;
    --text-color: #404040;
    --background-color: #ffffff;
    --background-dark-color: #F8F8F8;
    --hover-color: #F9F9F9;
    --error-color: #920000;
    --success-color: #639200;
}

.dark-theme {
    --primary-color: red;
}

html {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: var(--text-color);
}

h1 {
    font-size: 24px;
    font-weight: 500;
}
h2 {
    font-size: 18px;
    font-weight: 500;
}