@import "@/assets/css/variables";

html {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

.container {
  margin: 0 40px;
  @media (max-width: $media-lg) {
    margin: 0 30px;
  }
  @media (max-width: $media-xs) {
    margin: 0 20px;
  }
}

